:root {
  --bradius: 15px;
  --bradius2: 16px;
  --scale: 1.05;
  --transitiontime:  0.6s;
}

body {
  z-index: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  background-color: #5d5d5d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

main .finished, main .wip {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2c2c2c;
  border-radius: var(--bradius);
  margin: 20px;
}

@media (max-width: 700px) {
  main .finished, main .wip {
    margin: 0;
  }
}

main .main-overlay {
  background-color: rgba(0, 0, 0, 0.63);
  position: absolute;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

main .project {
  position: relative;
  margin: 20px;
  background-color: rgba(128, 128, 128, 0);
  width: 30%;
  height: 800px;
  z-index: 1;
  border-radius: 14px;
  overflow: hidden;
  -webkit-transition: all var(--transitiontime) ease-in-out;
  transition: all var(--transitiontime) ease-in-out;
}

main .project:hover {
  -webkit-transform: scale(var(--scale));
          transform: scale(var(--scale));
  -webkit-box-shadow: 0px 0px 70px 0px #000000;
          box-shadow: 0px 0px 70px 0px #000000;
}

@media (max-width: 1300px) {
  main .project {
    width: 45%;
  }
}

@media (max-width: 900px) {
  main .project {
    width: 100%;
    height: 100vh;
  }
}

main .project iframe {
  z-index: 3;
  position: absolute;
  border-radius: var(--bradius);
  width: 100%;
  height: 100vh;
  -webkit-perspective: 1000;
          perspective: 1000;
  width: 250%;
  height: 250%;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

main .project .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0px 0 50px #000000;
          box-shadow: inset 0px 0 50px #000000;
  border-radius: 13px;
  z-index: 4;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

main .project .overlay:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

main .project #toolbar {
  pointer-events: none;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 40px;
  z-index: 999;
  top: -5px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  z-index: 8;
  border: 1px solid black;
  background-color: #c3c3c3;
  opacity: 0.2;
  border-radius: 0 0 var(--bradius) var(--bradius);
  -webkit-box-shadow: inset 0 0 10px #0000000c;
          box-shadow: inset 0 0 10px #0000000c;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 765px) {
  main .project #toolbar {
    width: 30%;
  }
}

main .project #toolbar:hover {
  background-color: #c1c1c1;
  -webkit-box-shadow: inset 0 0 10px #0000006c;
          box-shadow: inset 0 0 10px #0000006c;
  top: -5px;
  opacity: 1;
}

main .project #toolbar #xbutton {
  pointer-events: all;
  width: 30%;
  height: 60%;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

main .project #toolbar #xbutton:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 1000px) {
  main {
    width: 100%;
  }
}
