:root {
  --bradius: 15px;
  --bradius2: 16px;
}

body {
  z-index: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  background-color: #5d5d5d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .finished, main .wip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2c2c2c;
  border-radius: var(--bradius);
  margin: 20px;
}

main .project {
  position: relative;
  margin: 20px;
  background-color: rgba(128, 128, 128, 0);
  width: 400px;
  height: 800px;
  z-index: 1;
  border-radius: var(--bradius);
  overflow: hidden;
  -webkit-box-shadow: inset 0 0 50px #000000;
          box-shadow: inset 0 0 50px #000000;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

main .project:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
  -webkit-box-shadow: 0px 0px 70px 0px #000000;
          box-shadow: 0px 0px 70px 0px #000000;
}

main .project iframe {
  overflow: hidden;
  z-index: 3;
  position: absolute;
  border-radius: var(--bradius);
  width: 100%;
  height: 100%;
  -webkit-perspective: 1000;
          perspective: 1000;
}

main .project .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0 0 50px #000000;
          box-shadow: inset 0 0 50px #000000;
  z-index: 4;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

main .project .overlay:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

main .project #toolbar {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 40px;
  z-index: 10;
  top: -30px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  z-index: 8;
  background-color: rgba(129, 129, 129, 0.1);
  border-radius: 0 0 var(--bradius) var(--bradius);
  -webkit-box-shadow: inset 0 0 10px #0000000c;
          box-shadow: inset 0 0 10px #0000000c;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 765px) {
  main .project #toolbar {
    width: 30%;
  }
}

main .project #toolbar:hover {
  background-color: #818181;
  -webkit-box-shadow: inset 0 0 10px #0000006c;
          box-shadow: inset 0 0 10px #0000006c;
  top: -5px;
}

main .project #toolbar #xbutton {
  width: 30%;
  height: 60%;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

main .project #toolbar #xbutton:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}
